
<h1 class="font-bold text-2xl text-center mt-5 align-middle">
  Editar usuario: {{ user.name }}
</h1>
<div class="flex justify-center items-center">
  <form class="max-w-md mx-auto" [formGroup]="FormGroup" (ngSubmit)="editUser()">
    <div class="relative z-0 w-full mb-5 group">
      <label class="peer-focus:font-medium text-sm mb-6 text-gray-500 dark:text-gray-400">Email</label>
      <input type="email" name="floating_email" formControlName="email" id="floating_email"
        class="block py-2.5 px-0 w-full text-sm mt- text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        required />
        <div *ngIf="emailInvalid">
          <a class="text-red-500 text-sm font-medium">Email requerido</a>
        </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <label class="peer-focus:font-medium text-sm mb-6 text-gray-500 dark:text-gray-400">Name</label>
        <input type="text" name="floating_first_name" formControlName="name" id="floating_first_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          [value]="[user.name]" required />

          <div *ngIf="nameInvalid">
            <a class="text-red-500 text-sm font-medium">Nombre requerido</a>
          </div>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <label class="peer-focus:font-medium text-sm mb-6 text-gray-500 dark:text-gray-400">Lastname</label>
        <input type="text" name="floating_last_name" formControlName="lastname" id="floating_last_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          [value]="[user.lastname]" required />

          <div *ngIf="lastnameInvalid">
            <a class="text-red-500 text-sm font-medium">Apellido requerido</a>
          </div>
      </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <label class="peer-focus:font-medium text-sm mb-6 text-gray-500 dark:text-gray-400">Rut</label>

        <input type="tel" formControlName="rut" name="floating_phone"
          id="floating_phone"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          [value]="[user.rut]" required />

          <div *ngIf="rutInvalid">
            <a class="text-red-500 text-sm font-medium">Rut requerido</a>
          </div>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <label class="peer-focus:font-medium text-sm mb-6 text-gray-500 dark:text-gray-400">Score</label>
        <input type="text" name="floating_company" formControlName="score" id="floating_company"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          [value]="[user.score]" required />

          <div *ngIf="scoreInvalid">
            <a class="text-red-500 text-sm font-medium">Puntaje requerido</a>
          </div>
      </div>
    </div>
    <div class="flex justify-center flex-wrap gap-5">
      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Editar</button>
        <button type="button" (click)="goTable()"
        class="text-blue-900 bg-blue-100 hover:text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Volver</button>
      </div>
  </form>
</div>

<!-- Errores -->
<div *ngFor="let error of errorMessages" class="bg-red-500 rounded-lg mb-5 flex justify-center">
  <a *ngIf="error" class="text-white text-sm font-medium m-5">{{error}}</a>
</div>
